@charset "UTF-8";
:root {
  --first-text-color: #2196f3;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --first-button-color: #2196f3;
  --second-button-color: #f5f4fa;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding-left: 0;
}

section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.navigation__item,
.contact-list__item,
.softskills__item,
.occupation__item,
.card-list__item,
.footer-item,
.portfolio-nav-item,
.project-item,
.soc__item,
.client-item {
  list-style-type: none;
}

.navigation__link,
.contact-list__mail,
.contact-list__tel,
.header-logo,
.footer-logo,
.map-link,
.contact-icon-link,
.footer-contact-mail,
.footer-contact-tel,
.project-link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1), visibility 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover, .button-close:focus {
  color: #2196f3;
}

.modal-close {
  fill: currentColor;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-form {
  position: relative;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border: 1px solid #2196f3;
}

.modal-name-icon {
  position: absolute;
  top: 29px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-name-icon {
  fill: #2196f3;
}

.modal-tel-icon {
  position: absolute;
  top: 97px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-tel-icon {
  fill: #2196f3;
}

.modal-mail-icon {
  position: absolute;
  top: 165px;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-mail-icon {
  fill: #2196f3;
}

.textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  border: 1px solid #2196f3;
}

.checkbox-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox-flex span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-item {
  width: 16px;
  height: 15px;
  margin-right: 7px;
}
.checkbox-item:focus + .checkbox-flex span {
  border: 2px solid #2196f3;
}
.checkbox-item:checked + .checkbox-flex span .checkbox-icon {
  visibility: visible;
}

.checkbox-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  padding-left: 4px;
}

.checkbox-icon {
  position: absolute;
  visibility: hidden;
  left: 12px;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-button-flex {
  text-align: center;
}

.modal-button {
  width: 200px;
  height: 50px;
  margin: auto;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover, .modal-button:focus {
  background-color: #188ce8;
}

.label-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
  color: #ffffff;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.header {
  display: flex;
  border-bottom: 1px solid #ececec;
}

.header-logo {
  color: black;
  margin-right: 93px;
}

.logo__color {
  color: var(--first-text-color);
}

.header__flex {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
  column-gap: 50px;
}

.navigation__link {
  display: block;
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--first-text-color);
}

.navigation__link-color {
  color: var(--first-text-color);
}
.navigation__link-color::after {
  color: var(--first-text-color);
  content: "";
  position: absolute;
  background: #2196f3;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.contact-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contact-list__item {
  margin-right: 50px;
}
.contact-list__item:last-child {
  margin-right: 0;
}

.contact-list__mail {
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__mail:hover, .contact-list__mail:focus {
  color: var(--first-text-color);
}

.contact-list__icon {
  margin-right: 10px;
  fill: currentColor;
  padding: 0;
}

.contact-list__tel {
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-list__tel:hover, .contact-list__tel:focus {
  color: var(--first-text-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
}

.hero__flex {
  text-align: center;
}

.hero__headline {
  width: 696px;
  text-transform: uppercase;
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
}

.hero__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--first-button-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--third-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover {
  background-color: #188ce8;
}

.softskills {
  padding-bottom: 0;
}

.softskills__list {
  display: flex;
  column-gap: 30px;
}

.softskills__item {
  width: 270px;
}

.softskills__headline {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.softskills__text {
  color: var(--second-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.softskills__img {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.occupation__list {
  position: relative;
  display: flex;
  column-gap: 30px;
}

.occupation__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.occupation__text {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--second-background-color);
}

.team__flex {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
}

.soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #fff;
}

.soc__link {
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc__link:hover, .soc__link:focus {
  background-color: #2196f3;
  color: #fff;
}

.soc__icon {
  fill: currentColor;
}

.team__headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.card-list {
  display: flex;
  column-gap: 30px;
}

.card-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.card-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.card-list__text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.footer {
  background-color: var(--first-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

.address-flex {
  margin-right: 70px;
}

.footer-logo {
  color: var(--third-text-color);
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.address {
  margin-top: 20px;
}

.footer-item {
  margin-bottom: 10px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.map-link {
  color: var(--third-text-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.map-link:hover, .map-link:focus {
  color: var(--first-text-color);
}

.footer-contact-mail {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-mail:hover, .footer-contact-mail:focus {
  color: var(--first-text-color);
}

.footer-contact-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contact-tel:hover, .footer-contact-tel:focus {
  color: var(--first-text-color);
}

/* Соц-сети в футере */
.social {
  padding-top: 12px;
  padding-bottom: 0px;
  margin-right: 93px;
}

.social-headline {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-text-color);
  margin-bottom: 20px;
}

.social-soc {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #2f303a;
}

.social-soc-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-soc-link:hover, .social-soc-link:focus {
  background-color: #2196f3;
  color: #fff;
}

.social-soc-icon {
  fill: currentColor;
}

/* Підписка в футері */
.subscribe-button {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  color: var(--third-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  letter-spacing: 0.06em;
}

.subscribe-input {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--first-background-color);
  display: block;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  outline: none;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form {
  display: flex;
  align-items: flex-end;
}

.subscribe-label {
  margin-right: 12px;
}

.subscribe-button-icon {
  margin-left: 10px;
}

.portfolio-nav-list {
  display: flex;
  column-gap: 8px;
  margin: auto;
  margin-bottom: 50px;
}

.portfolio-flex {
  justify-content: center;
}

.portfolio-nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.portfolio-nav-btn {
  background: var(--second-button-color);
  border: 0;
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-nav-btn:hover {
  background: var(--first-button-color);
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project-flex {
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.project-item {
  width: 370px;
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover, .project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .portfolio-text,
.project-link:focus .portfolio-text {
  transform: translateY(0);
}

.portfolio-img {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);
}

.project-headline {
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.client-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.clients-headline {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.client-link {
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-link:hover, .client-link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.client-icon {
  fill: currentColor;
}/*# sourceMappingURL=main.css.map */