@import "./utils/variables";
@import "./utils/hidden";
@import "./base/reset";
@import "./base/common";
@import "./components/container";
@import "./components/modal";
@import "./components/logo";
@import "./layout/header";
@import "./layout/hero";
@import "./layout/softskills";
@import "./layout/occupation";
@import "./layout/team";
@import "./layout/footer";
@import "./layout/portfolio";
@import "./layout/clients";
