.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: auto;
}
.hero__flex {
  text-align: center;
}
.hero__headline {
  width: 696px;
  text-transform: uppercase;
  color: var(--third-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
}
.hero__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--first-button-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--third-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #188ce8;
  }
}
