.hero {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 118px;
  padding-bottom: 118px;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/herobackground-mob.jpg);
  @include retina {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/herobackground-mob-x2.jpg);
  }
  @include tablet {
    width: 100%;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/herobackground-tablet.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/herobackground-tablet-x2.jpg);
    }
  }
  @include desktop {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero-background.jpg);
    @include retina {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/herobackground-desktop-x2.jpg);
    }
  }
}
.hero__flex {
  text-align: center;
  @include tablet {
    text-align: center;
  }
  @include desktop {
    text-align: center;
  }
}
.hero__headline {
  text-transform: uppercase;
  color: var(--third-text-color);
  font-weight: 900;
  letter-spacing: 0.06em;
  margin: auto;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 1.61;
  @include tablet {
    width: 360px;
  }
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
.hero__btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--first-button-color);
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--third-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: #188ce8;
  }
}
