:root {
  --first-text-color: #2196f3;
  --second-text-color: #757575;
  --third-text-color: #ffffff;
  --first-background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --first-button-color: #2196f3;
  --second-button-color: #f5f4fa;
}
